{% extends 'base.html' %}

{% block content %}
<html lang="en">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid ">
            <div class="mx-auto p-2" style="width: 200px;">
                <span class="navbar-brand mb-0 h1">Bimble Online Page</span>
            </div>
        </div>
        <form class="container-fluid justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-outline-success me-2" type="button">Logout</button>
            </a>
        </form>
    </nav>

<body>
    <!-- <div class="app_name">
        <h1>Bimble-Online Page</h1>
    </div> -->
    
    <div class="data_user">
        <h5>Name: </h5>
        <p>{{ name }}</p> <!-- Ubahlah sesuai dengan nama kamu -->
        <h5>Class: </h5>
        <p>{{ class }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->
  
    </div>
    <h5>Courses Available:</h5>
    <ul>
        {% for course in courses %}
        <li>{{ course }}</li>
        {% endfor %}
    </ul>

    <!-- <table id="product_table" class="table table-bordered"></table> -->
    <div class="row"></div>
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Amount: {{ product.amount }}</li>
                    <li class="list-group-item">Date Added: {{ product.date_added }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'main:edit_product' product.pk %}" class="card-link">Edit</a>
                    <a href="{% url 'main:delete_product' product.pk %}" class="card-link">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <table class="table">
        <thead></thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>
        </thead>
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
        <tbody>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table> -->
    
    <br />
    
    <!-- <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a> -->
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    {% comment %} script {% endcomment %}

    <Script>
        async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }
        async function refreshProducts() {
            document.getElementById("product_table").innerHTML = ""
            const products = await getProducts()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.amount}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
            </tr>` 
            })
            
            document.getElementById("product_table").innerHTML = htmlString
        }

        refreshProducts()

        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addProduct
    </Script>
</body>
</html>
{% endblock content %}